[Unit]
After=omdash-server.service

[Service]
Type=simple
ExecStart=/usr/bin/npx serve /home/topaxi/projects/omdash/apps/omdash-frontend/build/
Restart=on-failure

[Install]
WantedBy=default.target
