[Unit]
After=omdash-server.service

[Service]
Type=simple
User=topaxi
ExecStart=/usr/bin/node /home/topaxi/projects/omdash/apps/omdash-server/build/server.js
Restart=on-failure

[Install]
WantedBy=default.target
