[Unit]
After=omdash-server.service

[Service]
Type=simple
WorkingDirectory=/home/topaxi/projects/omdash/apps/omdash-frontend/
ExecStart=/usr/bin/npx serve -p 3000 build/
Restart=on-failure

[Install]
WantedBy=default.target
