:root {
  --ctp-macchiato-rosewater: #f4dbd6;
  --ctp-macchiato-rosewater-rgb: rgb(244, 219, 214);
  --ctp-macchiato-rosewater-hsl: hsl(10, 58%, 90%);
  --ctp-macchiato-rosewater-raw: 244, 219, 214;

  --ctp-macchiato-flamingo: #f0c6c6;
  --ctp-macchiato-flamingo-rgb: rgb(240, 198, 198);
  --ctp-macchiato-flamingo-hsl: hsl(0, 58%, 86%);
  --ctp-macchiato-flamingo-raw: 240, 198, 198;

  --ctp-macchiato-pink: #f5bde6;
  --ctp-macchiato-pink-rgb: rgb(245, 189, 230);
  --ctp-macchiato-pink-hsl: hsl(316, 74%, 85%);
  --ctp-macchiato-pink-raw: 245, 189, 230;

  --ctp-macchiato-mauve: #c6a0f6;
  --ctp-macchiato-mauve-rgb: rgb(198, 160, 246);
  --ctp-macchiato-mauve-hsl: hsl(267, 83%, 80%);
  --ctp-macchiato-mauve-raw: 198, 160, 246;

  --ctp-macchiato-red: #ed8796;
  --ctp-macchiato-red-rgb: rgb(237, 135, 150);
  --ctp-macchiato-red-hsl: hsl(351, 74%, 73%);
  --ctp-macchiato-red-raw: 237, 135, 150;

  --ctp-macchiato-maroon: #ee99a0;
  --ctp-macchiato-maroon-rgb: rgb(238, 153, 160);
  --ctp-macchiato-maroon-hsl: hsl(355, 71%, 77%);
  --ctp-macchiato-maroon-raw: 238, 153, 160;

  --ctp-macchiato-peach: #f5a97f;
  --ctp-macchiato-peach-rgb: rgb(245, 169, 127);
  --ctp-macchiato-peach-hsl: hsl(21, 86%, 73%);
  --ctp-macchiato-peach-raw: 245, 169, 127;

  --ctp-macchiato-yellow: #eed49f;
  --ctp-macchiato-yellow-rgb: rgb(238, 212, 159);
  --ctp-macchiato-yellow-hsl: hsl(40, 70%, 78%);
  --ctp-macchiato-yellow-raw: 238, 212, 159;

  --ctp-macchiato-green: #a6da95;
  --ctp-macchiato-green-rgb: rgb(166, 218, 149);
  --ctp-macchiato-green-hsl: hsl(105, 48%, 72%);
  --ctp-macchiato-green-raw: 166, 218, 149;

  --ctp-macchiato-teal: #8bd5ca;
  --ctp-macchiato-teal-rgb: rgb(139, 213, 202);
  --ctp-macchiato-teal-hsl: hsl(171, 47%, 69%);
  --ctp-macchiato-teal-raw: 139, 213, 202;

  --ctp-macchiato-sky: #91d7e3;
  --ctp-macchiato-sky-rgb: rgb(145, 215, 227);
  --ctp-macchiato-sky-hsl: hsl(189, 59%, 73%);
  --ctp-macchiato-sky-raw: 145, 215, 227;

  --ctp-macchiato-sapphire: #7dc4e4;
  --ctp-macchiato-sapphire-rgb: rgb(125, 196, 228);
  --ctp-macchiato-sapphire-hsl: hsl(199, 66%, 69%);
  --ctp-macchiato-sapphire-raw: 125, 196, 228;

  --ctp-macchiato-blue: #8aadf4;
  --ctp-macchiato-blue-rgb: rgb(138, 173, 244);
  --ctp-macchiato-blue-hsl: hsl(220, 83%, 75%);
  --ctp-macchiato-blue-raw: 138, 173, 244;

  --ctp-macchiato-lavender: #b7bdf8;
  --ctp-macchiato-lavender-rgb: rgb(183, 189, 248);
  --ctp-macchiato-lavender-hsl: hsl(234, 82%, 85%);
  --ctp-macchiato-lavender-raw: 183, 189, 248;

  --ctp-macchiato-text: #cad3f5;
  --ctp-macchiato-text-rgb: rgb(202, 211, 245);
  --ctp-macchiato-text-hsl: hsl(227, 68%, 88%);
  --ctp-macchiato-text-raw: 202, 211, 245;

  --ctp-macchiato-subtext1: #b8c0e0;
  --ctp-macchiato-subtext1-rgb: rgb(184, 192, 224);
  --ctp-macchiato-subtext1-hsl: hsl(228, 39%, 80%);
  --ctp-macchiato-subtext1-raw: 184, 192, 224;

  --ctp-macchiato-subtext0: #a5adcb;
  --ctp-macchiato-subtext0-rgb: rgb(165, 173, 203);
  --ctp-macchiato-subtext0-hsl: hsl(227, 27%, 72%);
  --ctp-macchiato-subtext0-raw: 165, 173, 203;

  --ctp-macchiato-overlay2: #939ab7;
  --ctp-macchiato-overlay2-rgb: rgb(147, 154, 183);
  --ctp-macchiato-overlay2-hsl: hsl(228, 20%, 65%);
  --ctp-macchiato-overlay2-raw: 147, 154, 183;

  --ctp-macchiato-overlay1: #8087a2;
  --ctp-macchiato-overlay1-rgb: rgb(128, 135, 162);
  --ctp-macchiato-overlay1-hsl: hsl(228, 15%, 57%);
  --ctp-macchiato-overlay1-raw: 128, 135, 162;

  --ctp-macchiato-overlay0: #6e738d;
  --ctp-macchiato-overlay0-rgb: rgb(110, 115, 141);
  --ctp-macchiato-overlay0-hsl: hsl(230, 12%, 49%);
  --ctp-macchiato-overlay0-raw: 110, 115, 141;

  --ctp-macchiato-surface2: #5b6078;
  --ctp-macchiato-surface2-rgb: rgb(91, 96, 120);
  --ctp-macchiato-surface2-hsl: hsl(230, 14%, 41%);
  --ctp-macchiato-surface2-raw: 91, 96, 120;

  --ctp-macchiato-surface1: #494d64;
  --ctp-macchiato-surface1-rgb: rgb(73, 77, 100);
  --ctp-macchiato-surface1-hsl: hsl(231, 16%, 34%);
  --ctp-macchiato-surface1-raw: 73, 77, 100;

  --ctp-macchiato-surface0: #363a4f;
  --ctp-macchiato-surface0-rgb: rgb(54, 58, 79);
  --ctp-macchiato-surface0-hsl: hsl(230, 19%, 26%);
  --ctp-macchiato-surface0-raw: 54, 58, 79;

  --ctp-macchiato-base: #24273a;
  --ctp-macchiato-base-rgb: rgb(36, 39, 58);
  --ctp-macchiato-base-hsl: hsl(232, 23%, 18%);
  --ctp-macchiato-base-raw: 36, 39, 58;

  --ctp-macchiato-mantle: #1e2030;
  --ctp-macchiato-mantle-rgb: rgb(30, 32, 48);
  --ctp-macchiato-mantle-hsl: hsl(233, 23%, 15%);
  --ctp-macchiato-mantle-raw: 30, 32, 48;

  --ctp-macchiato-crust: #181926;
  --ctp-macchiato-crust-rgb: rgb(24, 25, 38);
  --ctp-macchiato-crust-hsl: hsl(236, 23%, 12%);
  --ctp-macchiato-crust-raw: 24, 25, 38;
}
