@import './catppuccin.css';

:root {
  font-family: 'VictorMono NFP', 'VictorMono Nerd Font', monospace;
  color: var(--ctp-macchiato-text);
  background-color: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html,
body {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

om-fake-screen {
  display: grid;

  width: 1280px;
  height: 400px;

  box-sizing: content-box;

  border: 1px solid var(--ctp-macchiato-crust);
}

@property --rotate {
  syntax: '<angle>';
  initial-value: 132deg;
  inherits: false;
}
