[Unit]
After=network.target

[Service]
Type=simple
User=topaxi
ExecStart=/usr/bin/node /home/topaxi/projects/omdash/apps/omdash-client/build/client.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
